<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Aashan\HighlightedCategories\Api\HighlightedCategoryRepositoryInterface" type="Aashan\HighlightedCategories\Model\HighlightedCategoryRepository"/>
	<preference for="Aashan\HighlightedCategories\Api\Data\HighlightedCategoryInterface" type="Aashan\HighlightedCategories\Model\Data\HighlightedCategory"/>
	<preference for="Aashan\HighlightedCategories\Api\Data\HighlightedCategorySearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Aashan\HighlightedCategories\Model\ResourceModel\HighlightedCategory\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">aashan_highlighted_categories</argument>
			<argument name="resourceModel" xsi:type="string">Aashan\HighlightedCategories\Model\ResourceModel\HighlightedCategory\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="aashan_highlighted_categories_listing_data_source" xsi:type="string">Aashan\HighlightedCategories\Model\ResourceModel\HighlightedCategory\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
